.channel {
    padding: 10px;
    background-color: #252525;
    border-radius: 5px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    width: 96px;
}

.controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    touch-action: none;
}

.gainInput {
    text-align: center;
    background-color: #343434;
    border: none;
    border-radius: 3px;
    width: 100%;
    padding: 8px 2em 8px 8px;
    font: inherit;
    color: #d5d5d5;
}

.gainInput:focus {
    outline: 1px solid #d8d8d8;
}

.muteButton {
    transition: 0.1s;
    border: none;
    border-radius: 3px;
    padding: 10px 0;
    font-size: 0.9rem;
    width: 100%;
    background-color: #343434;
    color: #d5d5d5;
    cursor: pointer;
}

.muteButton:active {
    transition: 0s;
    transform: scale(0.96);
    filter: brightness(0.8);
}

.muted {
    color: white;
    background-color: #a52f2f;
}

.invalidGain {
    outline: 1px solid #ff5151 !important;
    color: #ff5151;
}

.quickToggles {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3px;
}

.quickToggle {
    cursor: pointer;
    font-size: 0.7rem;
    padding: 2px 3px;
    text-align: center;
    width: 100%;
    background-color: #343434;
    border: 1px solid #4f4f4f;
    border-radius: 2px;
    color: #d1cece;
    user-select: none;
}

.quickToggleEnabled {
    background-color: hsl(223 71% 50.1%);
    border: 1px solid hsl(223 51% 60%);
}

.levelContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;

    user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    touch-action: none;
    margin: 12px 0;
}

.dbScale {
    position: relative;
    height: 100%;
    width: 28px;
    flex-shrink: 0;
}

.dbMarker {
    position: absolute;
    right: -6px;
    display: flex;
    align-items: center;
    gap: 6px;
    transform: translateY(50%);
}

.dbLabel {
    min-width: 18px;
    text-align: right;

    font-family: monospace;
    font-size: 10px;
    line-height: 1;
    color: #888;
}

.dbTick {
    width: 5px;
    height: 2px;
    background: #777;
}

.peq {
    width: 100%;
    aspect-ratio: 2.5/2;
    background: #161616;
    overflow: hidden;
    border-radius: 4px;
    color: hsl(223 71% 50.1%);
}

.peq svg {
    display: block;
    width: 100%;
    height: 100%;
}

.gainInputWrapper {
    position: relative;
    display: inline-block;
    font-family: inherit;
    font-size: 0.8rem;
    font-weight: 400;
    line-height: normal;
}

.gainUnit {
    position: absolute;
    right: 0.5em;
    top: 50%;
    color: #a9a9a9;
    transform: translateY(-50%);
    pointer-events: none;
    font: inherit;
}
