* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

button, input, textarea {
    font: inherit;
}

#root {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    min-height: 100svh;
    display: flex;
    flex-direction: column;
    background-color: #151515;
    color: #ffffff;
}
